<section class="bg-primary" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Learn about what's new in the world of Green and Sustainability!</h2>
                <hr class="light">
                <p class="text-faded">We love to learn with our clients.  With our passion for sustainability, we've created a blog to help our clients learn with us.  Check it out below!</p>
                <a href="https://medium.com/@joshua_61356" class="btn btn-default btn-xl page-scroll">Our Blog</a>
            </div>
        </div>
    </div>
</section>
